body {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}
#dark-div.dark-mode {
    background-color:rgb(16, 12, 39)
    
}
#dark-section.dark-mode {
    background-color: rgb(19, 16, 39);
}
#text.dark-mode {
    background-color: rgb(71, 70, 94);
}
/* .editor.dark-mode {
    background-color: rgb(19, 16, 39);
} */

#text {
    overflow:scroll ;
    background-color: white;
   
}